@charset "utf-8";

.chat_wrap{width: 300px; height: 700px; border-radius: 20px; overflow: hidden; box-shadow: 6px 6px 10px #000; position: relative;}
.room_number{background: #08081f; width: 100%; height: 56px; color: #fff; text-shadow: 0 0 2px #86640f , 0 0 4px #ff0 ; text-align: center; font-size: 16px; line-height: 56px;}

.chat_inner{padding: 50px 14px 20px; background: #1f1f33; overflow-y: scroll; height: 570px; width: 318px;}

/* 유저 메세지 박스 */
.user_message{margin-bottom: 54px; display: flex; align-items: flex-start;}


.user_message .user_ch{width: 50px; height: 50px; border-radius: 50%; overflow: hidden; background: #0040b0; box-shadow: 2px 2px 10px #000; margin-right: 10px;}
.user_message .user_ch img{width: 50px; height: auto;}

.text_box{font-size: 14px; max-width: 210px; overflow-wrap: break-word; display: block; border-radius: 8px; background: #9abdd8; padding: 12px 12px; position: relative;}

.text_box .user_name{color: #fff; font-size: 14px; position: absolute; top: -22px; left: 0;}

.text_box .user_text_message{line-height: 1.4;}

.text_box .send_time{color: #ccc; font-size: 10px; position: absolute; bottom: -18px; left: 0;}

/* 나의 메세지 */
.user_message.my_msg{display: flex; flex-direction: row-reverse;}
.user_message.my_msg .user_ch{background: #f7931e; margin-left: 10px;}

.user_message.my_msg .text_box{background: #ffe78d;}
.user_message.my_msg .text_box .send_time{right: 0; left: auto;}

/* 메세지 입력 영역 */
.message_wrap{width: 100%; height: 74px; background: #1f1f33; display: flex; justify-content: space-between; padding: 0 20px; align-items: center; border-top: 1px solid #ccc;}

.emoticon_btn{width: 43px; height: 43px;}

.emoticon_btn button{width: 43px; height: 43px; border-radius: 10px; background: #b5a4ff url(../images/imoticon/imoticon57.png) no-repeat center center/ 34px auto; box-shadow: 0 0 4px 2px #6f659d inset; cursor: pointer;}

.message_enter{position: relative;}
.message_enter input{width: 210px; padding: 12px 46px 12px 8px; border: none; border-radius: 6px; box-sizing: border-box;}
.message_enter .submit{width: 30px; height: 30px; border-radius: 50%; background: #405ea4 url(../images/ui/send_message_icon.svg) no-repeat 8px center / 18px auto; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.emoticon_wrap{width: 260px; height: 78px; background: rgba(0, 0, 0, .5); border-radius: 10px; position: absolute; bottom: 78px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); overflow: hidden; display: none;}

.emoticon_wrap ul{overflow-y: scroll; width: 278px; height: 78px; padding: 10px; display: flex; flex-wrap: wrap;}

.emoticon_wrap ul li{width: 40px; height: 40px;}
.emoticon_wrap ul li button{display: block;}