@charset "UTF-8";
.mobi_side {
  display: none;
}

/* header */
#header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 300;
}

#header .start_btn {
  display: none;
}

.headerIn {
  width: 1024px;
  height: 90px;
  margin: 0 auto;
  background: url(../images/web/header_back.png) no-repeat center 0/contain;
  position: relative;
  -webkit-filter: drop-shadow(0 13px 35px rgba(0, 0, 0, 0.55));
          filter: drop-shadow(0 13px 35px rgba(0, 0, 0, 0.55));
}

.headerIn .menu_btn {
  display: none;
}

.logo {
  padding-top: 13px;
}

.logo a {
  width: 125px;
  height: 55px;
  background: url(../images/common/header_blank1.png) no-repeat center center/contain;
  margin-left: 77px;
  display: block;
  text-align: center;
}

.logo a img {
  width: 77px;
  height: 24px;
  padding-top: 13px;
}

.gnb {
  position: absolute;
  top: 14px;
  left: 270px;
  width: 636px;
}

.gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb ul li {
  font-size: 14px;
  width: 114px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  /* 마우스 하버시 comming soon 변경 */
}

.gnb ul li a {
  display: block;
  color: #737373;
  background: url(../images/common/header_blank2.png) no-repeat 0 0/contain;
}

.gnb ul li.on a {
  color: #00ffa8;
}

.gnb ul li:nth-of-type(2) {
  width: 147px;
  height: 53px;
  margin: 0 23px;
  font-family: "sebang-bold";
}

.gnb ul li:hover a {
  color: #fff;
}

.gnb ul li:nth-of-type(2) a {
  width: 147px;
  height: 53px;
  line-height: 53px;
  font-size: 20px;
  background: url(../images/common/header_blank2.png) no-repeat center center/contain;
}

.gnb ul li:nth-of-type(3).text_change a {
  color: #00ffa8;
  font-size: 10px;
}

.login_btn {
  position: absolute;
  top: 15px;
  right: 56px;
}

.login_btn a {
  display: block;
  width: 51px;
  height: 51px;
  line-height: 51px;
  font-size: 13px;
  color: #00ffa8;
  text-align: center;
  background: url(../images/common/main_login_icon.png) no-repeat center/contain;
}

/* container */
h2 {
  font-size: 38px;
  color: #fff;
  text-align: center;
}

.content_text h3 {
  color: #00ffa8;
  font-size: 28px;
  font-family: "sebang-bold";
  line-height: 1.2;
}

/* cont1 */
.cont1 {
  width: 100%;
  height: 999px;
  background: url(../images/web/main_back.jpg) no-repeat center 0/1920px auto;
}

.cont1 .cont1_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
}

.cont1 .cont1_inner .arrow_list ul {
  position: relative;
}

.cont1 .cont1_inner .arrow_list ul li {
  position: absolute;
}

.cont1 .cont1_inner .arrow_list ul li:nth-child(1) {
  width: 324px;
  top: 440px;
  left: 170px;
}

.cont1 .cont1_inner .arrow_list ul li:nth-child(1):hover {
  -webkit-filter: drop-shadow(1px 1px 9px #fff);
          filter: drop-shadow(1px 1px 9px #fff);
}

.cont1 .cont1_inner .arrow_list ul li:nth-child(2) {
  width: 243px;
  top: 616px;
  left: 44px;
}

.cont1 .cont1_inner .arrow_list ul li:nth-child(2):hover {
  -webkit-filter: drop-shadow(1px 1px 9px #fff);
          filter: drop-shadow(1px 1px 9px #fff);
}

.cont1 .cont1_inner .arrow_list ul li a {
  display: block;
}

.cont2 .content_wrap,
.cont4 .content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont2 .content_text,
.cont4 .content_text {
  width: 406px;
  height: 607px;
  color: #fff;
  padding: 31px 0 0 0;
  background: rgba(0, 0, 0, 0.6);
  border-top: 2px solid #00ffa8;
}

.cont2 .content_text h3,
.cont4 .content_text h3 {
  margin-bottom: 30px;
  padding-left: 26px;
}

.cont2 .content_text .inner_text,
.cont4 .content_text .inner_text {
  padding: 0 26px;
}

.cont2 .content_text .inner_text p,
.cont4 .content_text .inner_text p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cont2 .content_text .inner_text p:last-child,
.cont4 .content_text .inner_text p:last-child {
  margin-bottom: 63px;
}

.cont2 {
  width: 100%;
  background: url(../images/web/about_back.jpg) no-repeat center 0/1920px auto;
}

.cont2 .cont2_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 142px 8px 162px;
}

.cont2 h2 {
  margin-bottom: 43px;
}

.cont2 .content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont2 .content_wrap .content_img {
  width: 577px;
  -webkit-filter: drop-shadow(10px 10px 21px rgba(0, 0, 0, 0.55));
          filter: drop-shadow(10px 10px 21px rgba(0, 0, 0, 0.55));
}

.cont2 .content_text .bottom_text p {
  text-align: right;
  padding-right: 12px;
}

.cont2 .content_text .bottom_text p:nth-child(1) {
  margin-bottom: 10px;
}

.cont2 .content_text .bottom_text p:nth-child(2) {
  padding: 10px 12px 10px 0;
  color: #222;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.6);
  font-family: "sebang-bold";
}

.cont3 {
  width: 100%;
  background: url(../images/web/style_back.jpg) no-repeat center 0/1920px auto;
}

.cont3 h2 {
  margin-bottom: 50px;
}

.cont3 .cont3_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 127px 8px 138px;
}

.cont3 .ul_list {
  margin-bottom: 35px;
}

.cont3 .ul_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont3 .ul_list ul li {
  width: 320px;
  height: 388px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(103, 84, 80, 0.9);
  -webkit-box-shadow: 9px 9px 21px rgba(0, 0, 0, 0.52);
          box-shadow: 9px 9px 21px rgba(0, 0, 0, 0.52);
}

.cont3 .ul_list ul li .img_wrap {
  width: 100%;
  height: 307px;
  position: relative;
}

.cont3 .ul_list ul li .img_wrap img {
  width: 203px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cont3 .ul_list ul li:nth-of-type(3) img {
  width: 230px;
}

.cont3 .ul_list .list_text {
  width: 100%;
  font-size: 28px;
  color: #fff;
  height: 81px;
  line-height: 81px;
  text-align: center;
  background: rgba(0, 0, 0, 0.52);
}

.cont3 .content_text {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-top: 2px solid #00ffa8;
  padding: 30px 20px 28px 20px;
}

.cont3 .content_text h3 {
  margin-bottom: 13px;
}

.cont3 .inner_text p {
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

.cont3 .inner_text p:nth-of-type(1) {
  margin-bottom: 20px;
}

.cont4 {
  width: 100%;
  background: url(../images/web/mining_back.jpg) no-repeat center 0/1920px auto;
}

.cont4 .cont4_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 161px 8px 135px;
}

.cont4 h2 {
  margin-bottom: 81px;
}

.cont4 .ul_list {
  width: 577px;
}

.cont4 .ul_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 19px;
}

.cont4 .ul_list li {
  width: 279px;
  height: 279px;
  background: rgba(8, 14, 30, 0.85);
  border-radius: 23px;
}

.cont4 .ul_list li .img_wrap {
  margin: 0 auto;
  height: 228px;
  position: relative;
}

.cont4 .ul_list li .img_wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cont4 .ul_list li:nth-of-type(1) .img_wrap {
  width: 167px;
}

.cont4 .ul_list li:nth-of-type(2) .img_wrap {
  width: 168px;
}

.cont4 .ul_list li:nth-of-type(3) .img_wrap {
  width: 190px;
}

.cont4 .ul_list li:nth-of-type(4) .img_wrap {
  width: 179px;
}

.cont4 .ul_list li .list_text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.cont4 .content_text {
  height: 577px;
}

.cont5 {
  width: 100%;
  background: url(../images/web/partners_frame.png) no-repeat center center/1410px auto, url(../images/web/partners_back.jpg) no-repeat center 0/1920px auto;
  display: none;
}

.cont5 .cont5_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 264px 8px 270px;
}

.cont5 .cont5_inner .partner_wrap {
  margin-bottom: 140px;
  margin-top: 53px;
}

.cont5 .cont5_inner .partner_wrap ul {
  width: 884px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont5 .cont5_inner .partner_wrap li {
  width: 82px;
  height: 82px;
  border-radius: 10px;
  border: 2px solid #fff;
  opacity: .6;
  text-align: center;
}

.cont5 .cont5_inner .partner_wrap li span {
  font-size: 26px;
  line-height: 82px;
  color: #fff;
}

.cont5 .cont5_inner .sns {
  margin-top: 63px;
}

.cont5 .cont5_inner .sns ul {
  width: 472px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont5 .cont5_inner .sns li {
  width: 50px;
  height: 50px;
}

#footer {
  width: 100%;
  height: 180px;
  background: #00ffa8;
}

.footerIn {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerIn p {
  font-size: 18px;
}

.footerIn .flogo {
  width: 192px;
}

.footerIn .email {
  padding-left: 30px;
  background: url(../images/icon/message_icon.png) no-repeat 0 center/contain;
}

/* ========== 태블릿 ========== */
@media (max-width: 1023px) {
  .tab_br {
    display: none;
  }
  #header {
    height: 80px;
  }
  #header .start_btn {
    display: block;
    width: 255px;
    height: 169px;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 5;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .headerIn {
    width: 100%;
    height: 80px;
    background: url(../images/tabet/header_back.png) no-repeat center 0/1200px auto;
    position: relative;
    -webkit-filter: drop-shadow(0 13px 19px rgba(0, 0, 0, 0.55));
            filter: drop-shadow(0 13px 19px rgba(0, 0, 0, 0.55));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 28px 8px 28px;
  }
  .headerIn .menu_btn {
    display: block;
    width: 51px;
    height: 51px;
    background: url(../images/common/header_blank4.png) no-repeat 0 0/contain;
  }
  .headerIn .menu_btn .line {
    display: block;
    width: 26px;
    height: 3px;
    background: #00ffa8;
    position: relative;
    margin: 0 auto;
  }
  .headerIn .menu_btn .line::after, .headerIn .menu_btn .line::before {
    content: "";
    display: block;
    width: 26px;
    height: 3px;
    background: #00ffa8;
    position: absolute;
  }
  .headerIn .menu_btn .line::after {
    top: -10px;
  }
  .headerIn .menu_btn .line::before {
    top: 10px;
  }
  .logo {
    padding-top: 0;
  }
  .logo a {
    width: 125px;
    height: 55px;
    background: url(../images/common/header_blank1.png) no-repeat center center/contain;
    margin-left: 0;
  }
  .logo a img {
    width: 77px;
    height: 24px;
    padding-top: 13px;
  }
  .gnb {
    display: none;
  }
  .login_btn {
    position: static;
    top: auto;
    right: auto;
  }
  .login_btn a {
    display: block;
    width: 51px;
    height: 51px;
    line-height: 51px;
    font-size: 13px;
    color: #00ffa8;
    text-align: center;
    background: url(../images/common/main_login_icon.png) no-repeat center/contain;
  }
  /* 태블릿 container */
  #container {
    width: 100%;
  }
  h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
  }
  .content_text h3 {
    font-size: 4.55729vw;
  }
  /* 태블릿 cont1 */
  .cont1 {
    width: 100%;
    height: 132vw;
    background: url(../images/tabet/main_back.jpg) no-repeat 0 0/cover;
  }
  .cont1 .cont1_inner {
    width: 100%;
    padding: 0 8px;
  }
  .cont1 .cont1_inner .arrow_list ul {
    position: relative;
  }
  .cont1 .cont1_inner .arrow_list ul li {
    position: absolute;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(1) {
    width: 42.1875vw;
    top: 63.5875vw;
    left: 17vw;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(1):hover {
    -webkit-filter: drop-shadow(1px 1px 9px #fff);
            filter: drop-shadow(1px 1px 9px #fff);
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(2) {
    width: 31.640625vw;
    top: 88vw;
    left: 6vw;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(2):hover {
    -webkit-filter: drop-shadow(1px 1px 9px #fff);
            filter: drop-shadow(1px 1px 9px #fff);
  }
  .cont2 .content_wrap,
  .cont4 .content_wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont2 .content_text,
  .cont4 .content_text {
    width: 68.75vw;
    height: auto;
    padding: 4.8177vw 0 0 0;
  }
  .cont2 .content_text h3,
  .cont4 .content_text h3 {
    margin-bottom: 4.55729vw;
    padding-left: 4.03645vw;
  }
  .cont2 .content_text .inner_text,
  .cont4 .content_text .inner_text {
    padding-left: 4.03645vw;
  }
  .cont2 .content_text .inner_text p,
  .cont4 .content_text .inner_text p {
    font-size: 2.60416vw;
    line-height: 1.6;
    margin-bottom: 2.60416vw;
  }
  .cont2 .content_text .inner_text p:last-child,
  .cont4 .content_text .inner_text p:last-child {
    margin-bottom: 8.203125vw;
  }
  /* 태블릿 cont2 */
  .cont2 {
    width: 100%;
    background: url(../images/tabet/about_back.jpg) no-repeat center 0/cover;
  }
  .cont2 .cont2_inner {
    width: 100%;
    padding: 16.145833vw 15.625vw 12.41145vw;
  }
  .cont2 h2 {
    margin-bottom: 5.07812vw;
  }
  .cont2 .content_wrap .content_img {
    width: 68.75vw;
    -webkit-filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.55));
            filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.55));
    margin-bottom: 5.33854vw;
  }
  .cont2 .content_text .bottom_text p {
    text-align: right;
    padding-right: 1.5625vw;
  }
  .cont2 .content_text .bottom_text p:nth-child(1) {
    font-size: 2.60416vw;
    margin-bottom: 1.822916vw;
  }
  .cont2 .content_text .bottom_text p:nth-child(2) {
    padding: 2.473958vw 1.5625vw 2.21354vw 0;
    color: #222;
    font-size: 4.94791vw;
    background: rgba(255, 255, 255, 0.6);
    font-family: "sebang-bold";
  }
  .cont3 {
    width: 100%;
    background: url(../images/tabet/style_back.jpg) no-repeat 0 0/cover;
  }
  .cont3 h2 {
    margin-bottom: 6.901041vw;
  }
  .cont3 .cont3_inner {
    width: 100%;
    padding: 16.145833vw 3.51562vw 11.19791vw;
  }
  .cont3 .ul_list {
    margin-bottom: 4.55729vw;
  }
  .cont3 .ul_list ul li {
    width: 29.16666vw;
    height: 35.15625vw;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.52);
            box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.52);
  }
  .cont3 .ul_list ul li .img_wrap {
    height: 27.86458vw;
  }
  .cont3 .ul_list ul li .img_wrap img {
    width: 18.61979vw;
  }
  .cont3 .ul_list ul li:nth-of-type(3) img {
    width: 20.96354vw;
  }
  .cont3 .ul_list .list_text {
    font-size: 2.86458vw;
    height: 7.421875vw;
    line-height: 7.421875vw;
  }
  .cont3 .content_text {
    padding: 4.6875vw 3.64583vw 6.510416vw 3.64583vw;
  }
  .cont3 .content_text h3 {
    margin-bottom: 4.557291vw;
  }
  .cont3 .inner_text p {
    font-size: 2.60416vw;
    line-height: 1.6;
  }
  .cont3 .inner_text p:nth-of-type(1) {
    margin-bottom: 3.125vw;
  }
  .cont4 {
    width: 100%;
    background: url(../images/tabet/mining_back.jpg) no-repeat 0 0/cover;
  }
  .cont4 .cont4_inner {
    width: 100%;
    margin: 0 auto;
    padding: 17.44791vw 15.36458vw 11.45833vw;
  }
  .cont4 h2 {
    margin-bottom: 7.291666vw;
  }
  .cont4 .ul_list {
    width: 100%;
    margin-bottom: 4.42708vw;
  }
  .cont4 .ul_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.473958vw;
  }
  .cont4 .ul_list li {
    width: 32.94270vw;
    height: 32.94270vw;
    border-radius: 19px;
  }
  .cont4 .ul_list li .img_wrap {
    margin: 0 auto;
    height: 27.08333vw;
    position: relative;
  }
  .cont4 .ul_list li .img_wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cont4 .ul_list li:nth-of-type(1) .img_wrap {
    width: 19.7916vw;
  }
  .cont4 .ul_list li:nth-of-type(2) .img_wrap {
    width: 19.7916vw;
  }
  .cont4 .ul_list li:nth-of-type(3) .img_wrap {
    width: 22.39583vw;
  }
  .cont4 .ul_list li:nth-of-type(4) .img_wrap {
    width: 21.09375vw;
  }
  .cont4 .ul_list li .list_text {
    font-size: 2.86458vw;
  }
  .cont4 .content_text {
    height: 96.74479vw;
  }
  .cont4 .content_text h3 {
    line-height: 1.4;
  }
  .cont5 {
    width: 100%;
    background: url(../images/tabet/partners_frame.png) no-repeat center center/89.58333vw auto, url(../images/tabet/partners_back.jpg) no-repeat 0 0/cover;
  }
  .cont5 .cont5_inner {
    width: 100%;
    margin: 0 auto;
    padding: 27.21354vw 8px 27.21354vw;
  }
  .cont5 .cont5_inner h2 {
    font-size: 3.90625vw;
  }
  .cont5 .cont5_inner .partner_wrap {
    margin-bottom: 14.32291vw;
    margin-top: 7.03125vw;
  }
  .cont5 .cont5_inner .partner_wrap ul {
    width: 52.08333vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3.64583vw;
  }
  .cont5 .cont5_inner .partner_wrap li {
    width: 14.58333vw;
    height: 14.58333vw;
    border-radius: 10px;
  }
  .cont5 .cont5_inner .partner_wrap li span {
    font-size: 3.38541vw;
    line-height: 14.58333vw;
    color: #fff;
  }
  .cont5 .cont5_inner .sns {
    margin-top: 7.8125vw;
  }
  .cont5 .cont5_inner .sns ul {
    width: 57.29166vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont5 .cont5_inner .sns li {
    max-width: 6.51041vw;
    max-height: 6.51041vw;
    width: 6.51041vw;
    height: 6.51041vw;
  }
  #footer {
    width: 100%;
    height: 162px;
    background: #00ffa8;
  }
  .footerIn {
    width: 100%;
    height: 100%;
    padding: 0 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerIn p {
    font-size: 18px;
  }
  .footerIn .flogo {
    width: 170px;
  }
  .footerIn .email {
    padding-left: 30px;
    background: url(../images/icon/message_icon.png) no-repeat 0 center/contain;
  }
  .stop-scroll {
    height: 100%;
    overflow: hidden;
  }
  .mobi_side {
    display: block;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 50;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .side_inner {
    width: 56.380208vmin;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: relative;
    z-index: 10;
  }
  .side_bg {
    width: 56.380208vmin;
    background: url(../images/common/side_menu_back.png) no-repeat 0 0/56.38021vmin auto;
    padding-top: 6.510416vmin;
    padding-bottom: 22vmin;
  }
  .side_gnb {
    width: 42.96875vmin;
    margin: 0 auto 8.984375vmin;
  }
  .side_gnb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.953125vmin;
  }
  .side_gnb li {
    background: url(../images/common/side_menu_blank1_mobile.png) no-repeat 0 0/100%;
  }
  .side_gnb li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3.515625vmin;
    line-height: 13.411458vmin;
  }
  .side_gnb li:nth-of-type(1) a {
    color: #00ffa8;
  }
  .side_sns {
    width: 42.96875vmin;
    margin: 0 auto;
  }
  .side_sns ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4.427083vmin;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../images/common/side_menu_blank2_mobile.png) no-repeat 0 0/contain;
    padding: 3.90625vmin;
  }
  .side_sns ul li {
    width: 7.03125vmin;
    height: 7.03125vmin;
  }
}

/* ========== 모바일 ========== */
@media (max-width: 767px) {
  #header .start_btn {
    display: block;
    width: 28.84375vmin;
    height: 19.40625vmin;
    position: absolute;
    top: 80px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  /* 모바일 container */
  h2 {
    font-size: 38px;
    color: #fff;
    text-align: center;
  }
  .content_text h3 {
    font-size: 5.46875vw;
  }
  /* 모바일 cont1 */
  .cont1 {
    width: 100%;
    height: 176vw;
    background: url(../images/mobile/main_back.jpg) no-repeat 0 0/cover;
  }
  .cont1 .cont1_inner {
    width: 100%;
    padding: 0 8px;
  }
  .cont1 .cont1_inner .arrow_list ul {
    position: relative;
  }
  .cont1 .cont1_inner .arrow_list ul li {
    position: absolute;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(1) {
    width: 53.75vw;
    top: 77.5875vw;
    left: 17vw;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(1):hover {
    -webkit-filter: drop-shadow(1px 1px 9px #fff);
            filter: drop-shadow(1px 1px 9px #fff);
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(2) {
    width: 38.59375vw;
    top: 110vw;
    left: 6vw;
  }
  .cont1 .cont1_inner .arrow_list ul li:nth-child(2):hover {
    -webkit-filter: drop-shadow(1px 1px 9px #fff);
            filter: drop-shadow(1px 1px 9px #fff);
  }
  .cont2 .content_text,
  .cont4 .content_text {
    width: 90.625vw;
    height: auto;
    padding: 5.78125vw 0 0 0;
  }
  .cont2 .content_text h3,
  .cont4 .content_text h3 {
    margin-bottom: 6.25vw;
    padding-left: 4.84375vw;
  }
  .cont2 .content_text .inner_text,
  .cont4 .content_text .inner_text {
    padding-left: 4.84375vw;
  }
  .cont2 .content_text .inner_text p,
  .cont4 .content_text .inner_text p {
    font-size: 3.125vw;
    line-height: 1.6;
    margin-bottom: 3.125vw;
  }
  .cont2 .content_text .inner_text p:last-child,
  .cont4 .content_text .inner_text p:last-child {
    margin-bottom: 9.84375vw;
  }
  /* 모바일 cont2 */
  .cont2 {
    width: 100%;
    background: url(../images/mobile/about_back.jpg) no-repeat center 0/cover;
  }
  .cont2 .cont2_inner {
    width: 100%;
    padding: 18.4375vw 4.6875vw 14.375vw;
  }
  .cont2 h2 {
    margin-bottom: 5.625vw;
  }
  .cont2 .content_wrap .content_img {
    width: 90.625vw;
    -webkit-filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.55));
            filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.55));
    margin-bottom: 6.09375vw;
  }
  .cont2 .content_text .inner_text p:last-child {
    margin-bottom: 0;
  }
  .cont2 .content_text .bottom_text p {
    padding-right: 4.21875vw;
  }
  .cont2 .content_text .bottom_text p:nth-child(1) {
    font-size: 3.125vw;
    margin-bottom: 2.1875vw;
  }
  .cont2 .content_text .bottom_text p:nth-child(2) {
    padding: 2.5vw 4.21875vw 2.1875vw 0;
    color: #222;
    font-size: 5.9375vw;
    background: rgba(255, 255, 255, 0.6);
    font-family: "sebang-bold";
  }
  /* 모바일 cont3 */
  .cont3 {
    width: 100%;
    background: url(../images/mobile/style_back.jpg) no-repeat 0 0/cover;
  }
  .cont3 h2 {
    margin-bottom: 7.65625vw;
  }
  .cont3 .cont3_inner {
    padding: 18.28125vw 4.6875vw 7.34375vw;
  }
  .cont3 .ul_list {
    margin-bottom: 10.625vw;
  }
  .cont3 .ul_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8.90625vw;
  }
  .cont3 .ul_list ul li {
    width: 61.25vw;
    height: 74.0625vw;
    border-radius: 16px;
  }
  .cont3 .ul_list ul li .img_wrap {
    height: 58.4375vw;
  }
  .cont3 .ul_list ul li .img_wrap img {
    width: 38.75vw;
  }
  .cont3 .ul_list ul li:nth-of-type(3) img {
    width: 44.0625vw;
  }
  .cont3 .ul_list .list_text {
    font-size: 5.3125vw;
    height: 15.625vw;
    line-height: 15.625vw;
  }
  .cont3 .content_text {
    padding: 5.625vw 3.28125vw 7.34375vw 3.28125vw;
  }
  .cont3 .content_text h3 {
    margin-bottom: 5vw;
  }
  .cont3 .inner_text p {
    font-size: 3.125vw;
    line-height: 1.6;
  }
  .cont3 .inner_text p:nth-of-type(1) {
    margin-bottom: 3.75vw;
  }
  .cont4 {
    width: 100%;
    background: url(../images/mobile/mining_back.jpg) no-repeat 0 0/cover;
  }
  .cont4 .cont4_inner {
    padding: 17.96875vw 4.6875vw 9.84375vw;
  }
  .cont4 h2 {
    margin-bottom: 8.75vw;
  }
  .cont4 .ul_list {
    margin-bottom: 6.40625vw;
    gap: 4.375vw;
  }
  .cont4 .ul_list li {
    width: 43.75vw;
    height: 43.75vw;
    border-radius: 19px;
  }
  .cont4 .ul_list li .img_wrap {
    margin: 0 auto;
    height: 32.5vw;
    position: relative;
  }
  .cont4 .ul_list li .img_wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cont4 .ul_list li:nth-of-type(1) .img_wrap {
    width: 23.75vw;
  }
  .cont4 .ul_list li:nth-of-type(2) .img_wrap {
    width: 23.75vw;
  }
  .cont4 .ul_list li:nth-of-type(3) .img_wrap {
    width: 26.875vw;
  }
  .cont4 .ul_list li:nth-of-type(4) .img_wrap {
    width: 25.3125vw;
  }
  .cont4 .ul_list li .list_text {
    font-size: 3.4375vw;
  }
  .cont4 .content_text {
    height: auto;
  }
  .cont4 .content_text h3 {
    line-height: 1.4;
  }
  .cont5 {
    width: 100%;
    background: url(../images/mobile/partners_frame.png) no-repeat center center/93.91666vw auto, url(../images/mobile/partners_back.jpg) no-repeat 0 0/cover;
  }
  .cont5 .cont5_inner {
    width: 100%;
    margin: 0 auto;
    padding: 28.125vw 1.25vw;
  }
  .cont5 .cont5_inner h2 {
    font-size: 4.6875vw;
  }
  .cont5 .cont5_inner .partner_wrap {
    margin-bottom: 16.25vw;
    margin-top: 6.875vw;
  }
  .cont5 .cont5_inner .partner_wrap ul {
    width: 62.5vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4.375vw;
  }
  .cont5 .cont5_inner .partner_wrap li {
    width: 17.5vw;
    height: 17.5vw;
    border-radius: 10px;
  }
  .cont5 .cont5_inner .partner_wrap li span {
    font-size: 4.0625vw;
    line-height: 17.5vw;
    color: #fff;
  }
  .cont5 .cont5_inner .sns {
    margin-top: 6.25vw;
  }
  .cont5 .cont5_inner .sns ul {
    width: 68.75vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont5 .cont5_inner .sns li {
    width: 9.375vw;
    height: 9.375vw;
  }
  #footer {
    width: 100%;
    height: 20.9375vw;
    background: #00ffa8;
  }
  .footerIn {
    width: 100%;
    height: 100%;
    padding: 0 4.6875vw;
  }
  .footerIn p {
    font-size: 2.34375vw;
  }
  .footerIn .flogo {
    width: 22.65625vw;
  }
  .footerIn .email {
    padding-left: 4.6875vw;
    background: url(../images/icon/message_icon.png) no-repeat 0 center/contain;
  }
}
/*# sourceMappingURL=digtocPage.css.map */