@charset "utrf-8";

#wrap{background: #0b1329;}


/* ========== header ========== */
#header{border-bottom: 2px solid #2f3950; margin-bottom: 30px;}

.headerIn{position: relative; width: 1024px; margin: 0 auto; height: 68px;}

.logo{width: 96px; height: 26px; padding-top: 18px;}
.logo a{display: block;}

.gnb{width: 240px; position: absolute; top: 50%; right: 200px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.gnb ul{display: flex; justify-content: space-between;}

.gnb ul li a{color: #fff; font-size: 20px;}

.login_wrap{position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.login_wrap ul{display: flex; width: 172px; justify-content: space-between;}
.login_wrap ul li{width: 82px; height: 32px; border-radius: 32px; border: 1px solid #fff; text-align: center;}

.login_wrap ul li a{display: block; color: #fff; line-height: 30px;}

/* ========== container ========== */
#container{position: relative;}

.cont1{width: 1024px; margin: 0 auto; display: flex; justify-content: space-between; padding-bottom: 100px; position: relative;}



#footer{}







/* ============ */

/* ======= 민팅 팝업 ======= */
.mint_modal,
.mint_success_modal{width: 900px; height: 500px; background: #25134c; position: absolute; top: 90px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 400; border: 3px solid #ccc; padding: 0 0 20px; display: none;}


.mint_modal .head_title,
.mint_success_modal .head_title{width: 100%; padding: 10px 0 10px 10px; background-color: #ccc; position: relative; box-sizing: border-box;}

.mint_modal .mint_close_btn,
.mint_success_modal .mint_close_btn{width: 30px; height: 30px; position: absolute; top: 50%; right: 10px; display: block; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.mint_modal .mint_close_btn::after,
.mint_modal .mint_close_btn::before,
.mint_success_modal .mint_close_btn::after,
.mint_success_modal .mint_close_btn::before{content: ""; display: block; width: 24px; height: 2px; background: #000; position: absolute; top: 50%; left: 50%;}

.mint_modal .mint_close_btn::after,
.mint_success_modal .mint_close_btn::after{transform: translate(-50%, -50%) rotate(-45deg); -webkit-transform: translate(-50%, -50%) rotate(-45deg);}

.mint_modal .mint_close_btn::before,
.mint_success_modal .mint_close_btn::before{transform: translate(-50%, -50%) rotate(45deg); -webkit-transform: translate(-50%, -50%) rotate(45deg);}

.mint_wrap{display: flex; width: 100%; height: 100%;}

.mint_wrap .item_area{width: 33.33333%; height: 100%;}

.mint_wrap .item_area .mint_item{width: 140px; margin: 50px auto 30px;}
.mint_wrap .item_area .item_level{color: #fff; font-size: 20px; text-align: center; margin-bottom: 14px;}

.mint_wrap .item_area .item_rank{color: #fff; text-align: center; font-size: 16px; margin-bottom: 30px;}
.mint_wrap .item_area .item_rank span{display: none;}

.mint_wrap .item_area .item_rank .item_legen{color: #ff0;}
.mint_wrap .item_area .item_rank .item_legen.on{display: block;}

.mint_wrap .item_area .unit_price{color: #fff; text-align: center; font-size: 16px; margin-bottom: 40px;}
.mint_wrap .item_area .unit_price span{color: #ff0;}

.mint_wrap .item_area .mint_btn{display: block; width: 200px; height: 56px; margin: 0 auto; background: url(../images/ui/btn_img7.png) no-repeat 0 0 /contain; font-size: 16px; text-align: center; cursor: initial;}

.mint_wrap .item_area .mint_btn.on{background: url(../images/ui/btn_img6.png) no-repeat 0 0 /contain; cursor: pointer;}

.mint_wrap .mint_explan{width: calc(100% - 33.33333%); background: #140a2a; height: 100%; overflow-y: scroll;}

.mint_wrap .explan_inner{padding: 40px;}

.mint_wrap .explan_inner .explan_title{color: #fff; text-align: center; font-size: 24px; font-family: "sebang-bold"; margin-bottom: 30px;}

.mint_wrap .explan_inner > div{margin-bottom: 40px;}

.mint_wrap .explan_inner .sub_title{color: #fff; font-size: 18px; margin-bottom: 14px;}

.mint_wrap .explan_inner .contents_text{font-size: 14px; color: #c4c2ca; line-height: 1.4;}

.mint_wrap .explan_inner .contents_text span{display: block; margin-bottom: 10px;}

.mint_wrap .explan_inner .ontheweb_area .sub_title,
.mint_wrap .explan_inner .onthemobile_area .sub_title{border-bottom: 1px solid #c4c2ca; padding-bottom: 8px;}


/* mint success modal */
.mint_success_modal{background: #25134c;}
.mint_success_wrap .inner_title{font-size: 30px; color: #fff; text-align: center; margin-top: 40px; margin-bottom: 30px;}

.mint_success_wrap .item_area{width: 400px; padding: 24px; margin: 0 auto 30px; background: #140a2a; border-radius: 20px; display: flex;}

.mint_success_wrap .item_area .mint_item{width: 100px; margin-right: 30px;}

.mint_success_wrap .item_area .item_info .item_level{color: #fff; font-size: 24px; margin-bottom: 10px;}

.mint_success_wrap .item_area .item_info .item_rank{margin-bottom: 24px;}
.mint_success_wrap .item_area .item_info .item_rank span{color: #ff0; font-size: 20px; display: none;}

.mint_success_wrap .item_area .item_info .item_legend.on{display: block;}
.mint_success_wrap .item_area .item_info .unit_price{font-size: 20px; color: #fff;}
.mint_success_wrap .item_area .item_info .unit_price span{color: #ff0;}

.mint_success_wrap .mint_explan{padding: 0 50px;}
.mint_success_wrap .explan_inner{display: flex; justify-content: space-between;}

.mint_success_wrap .explan_inner .sale_area{width: 48%; color: #fff;}
.mint_success_wrap .explan_inner .purchase_area{width: 48%; color: #fff;}

.mint_success_wrap .explan_inner .sub_title{font-size: 18px; margin-bottom: 14px;}

.mint_success_wrap .explan_inner .contents_text{font-size: 12px; line-height: 1.4; text-align: justify;}

.mint_success_wrap .explan_inner .purchase_area .contents_text{letter-spacing: 1.4px;}

.mint_success_wrap .back_game{width: 200px; border-radius: 10px; border: 1px solid #fff; color: #fff; line-height: 2.6; font-size: 16px; position: absolute; bottom: 40px; right: 50px;}
.mint_success_wrap .back_game span{padding: 8px 30px 8px 0; background: url(../images/ui/right_arrow.svg) no-repeat right center/ 22px auto;}