@charset "utf-8";

@font-face {
    src: url('../font/sebang.otf') format('opentype');
    font-family: "sebang";
}

@font-face {
    src: url('../font/sebang-bold.otf') format('opentype');
    font-family: "sebang-bold";
}