@charset "utf-8";

::selection{background: transparent;}



.game_wrap{width: 700px; height: 700px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url(../images/background/back1.png) no-repeat 0 0 / contain; border-radius: 20px; overflow: hidden;}

.game_header{width: 100%; height: 68px; background: rgba(0, 0, 0, .5); position: relative; z-index: 300;}
.game_headerIn{width: 100%; padding: 0 20px; height: 68px; position: relative;}

.game_headerIn .marker{width: 40px; height: 45px; position: absolute; top: 50%; left: 20px; transform: translateY(-50%);}
.game_headerIn .marker img{position: absolute; top: 0; left: 0;}
.game_headerIn .marker .vip_silver{display: none;}

.play_time_wrap{ position: absolute; top: 50%; left: 70px; transform: translateY(-50%); line-height: 1.5; font-weight: bold; text-shadow: 2px 2px 3px #000;}
.play_time{color: #fff;}
.play_time_rank{color: #fff;}
.up_icon{padding: 0 4px; background: #aaa; margin-left: 6px;}

.click_speed_wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff;}

.point_wrap{color: #fff; position: absolute; top: 50%; right: 30px; transform: translateY(-50%); font-weight: bold; font-size: 14px;}
.point_wrap #point_score{padding: 8px 0 8px 24px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 20px auto;}




/* container */
.game_container{position: relative; width: 100%; height: 632px}


/* 아이템 소모량 */
.now_item{width: 90px; height: 90px; background-color: rgba(0, 0, 0, .5); border: 1px solid #fff; border-radius: 8px; position: absolute; top: 20px; left: 20px;}
.remaining_amount{color: #fff; text-align: center; padding: 12px 8px 6px;}
.remaining_amount .pick{width: 66%; display: block; margin: 0 auto 8px;}


/* 돌 이미지 위치 */
.stone_item{width: 220px; height: auto; position: absolute;}

.stone_item img{cursor: url(../images/item2.png) 18 18 ,auto;/*  -webkit-user-drag: none; */}
.stone_item img.cur3{cursor: url(../images/item3.png) 18 18 ,auto;/*  -webkit-user-drag: none; */}


.stone_item.item1{top: 378px; left: 56px;}
.stone_item.item2{top: 346px; left: 290px; width: 180px;}
.stone_item.item3{top: 392px; left: 446px;}


.boost_200{width: 240px; position: absolute; top: 20px; left: 50%; transform: translateX(-50%); display: none;}
.boost_icon{display: block; width: 40px; height: 40px; background: #ff0; position: absolute; top: 0; left: -50px;}

.gauge_wrap{width: 240px; height: 40px; border: 2px solid #fff; border-radius: 8px; background: rgba(0, 0, 0, .5); position: relative; display: block;}

.gauge_wrap .gauge{width: 0; height: 30px; background: linear-gradient(#F4C921 30%, #F16E24); border-radius: 6px; margin: 3px 0 0 3px; animation: gauge_down 10s linear;}

.gauge_wrap .percent{color: #fff; font-weight: bold; font-size: 16px; text-shadow: 2px 2px 3px #000; position: absolute; top: 50%; left: 20px; transform: translateY(-50%); z-index: 10;}

.gauge_wrap .boost_timer{color: #fff; font-size: 16px; text-shadow: 2px 2px 3px #000; font-weight: bold; position: absolute; top: 50%; left: 130px; transform: translateY(-50%);}


/* boosticon */
.boost_item{width: 50px; height: 50px; border-radius: 50%; background-color: #f00; position: absolute; top: 20px; right: 20px; text-align: center; color: #fff; cursor: pointer;}

@keyframes gauge_down{
    100%{width: 0;}
    0%{width: 230px;}
}


/* 메뉴 버튼 */
.menu_list{}
.menu_list li{width: 50px; height: 50px; position: absolute; left: 20px; border-radius: 50%;}

.menu_list li:nth-of-type(1){top: 150px;}
.menu_list li:nth-of-type(2){top: 210px;}
.menu_list li:nth-of-type(3){top: 270px;}
.menu_list li:nth-of-type(4){top: 330px;}

.menu_list li button{width: 50px; height: 50px; background-size: contain; background-position: center center; background-repeat: no-repeat; cursor: pointer;}
.menu_list li .ch_change_btn{background-image: url(../images/ui/change_channel_icon.svg);}
.menu_list li .inventory_btn{background-image: url(../images/ui/inventory_icon.svg);}
.menu_list li .shop_btn{background-image: url(../images/ui/shop_icon.svg);}
.menu_list li .audio_on_btn{background-image: url(../images/ui/sound_on_icon.svg);}
.menu_list li .audio_off_btn{background-image: url(../images/ui/sound_off_icon.svg); display: none; position: absolute; top: 0; left: 0;}


