@charset "utf-8";

::selection{background: transparent;}
::-moz-selection{background: transparent;}
::-webkit-selection{background: transparent;}


img, div, span, p{-webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

img{-webkit-tap-highlight-color: transparent;}

input{user-select: auto; -webkit-user-select: auto;}
input:focus{outline: none;}



.game_wrap{width: 700px; height: 700px; /* position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); */ background: url(../images/background/back1.jpg) no-repeat 0 0 / 700px 700px; border-radius: 20px; overflow: hidden; position: relative; box-shadow: 6px 6px 10px #000;}

.game_wrap.ani{animation: change_room_ani 3s; -webkit-animation: change_room_ani 3s;}

.game_wrap.point_none{pointer-events: none; touch-action: none;}

@keyframes change_room_ani {
    0%{
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
      }
      100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
      }
}

.game_header{width: 100%; height: 68px; background: rgba(0, 0, 0, .5); position: relative; z-index: 300;}
.game_headerIn{width: 100%; padding: 0 20px; height: 68px; position: relative;}

.game_headerIn .marker{width: 40px; height: 45px; display: none; position: relative;}
.game_headerIn .marker img{position: absolute; top: 0; left: 0;}
.game_headerIn .marker .vip_gold{visibility: hidden;}
.game_headerIn .marker .vip_silver{visibility: hidden;}

.play_time_wrap{position: absolute; top: 50%; left: 30px; transform: translateY(-50%); -webkit-transform: translateY(-50%); line-height: 1.5; text-shadow: 2px 2px 3px #000; display: flex; justify-content: space-between; flex-wrap: wrap; width: 200px; align-items: center;}
.play_time{color: #fff;}
.play_time_rank{color: #fff;}
.up_icon{padding: 0 4px; background: url(../images/ui/playtiime_rankup_icon.png) no-repeat center center / contain; margin-left: 4px;}

.click_speed_wrap{position: absolute; top: 50%; right: 30px; transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #fff; font-size: 14px;}
.click_speed_wrap #clicks{padding: 10px 0 10px 26px; background: url(../images/ui/click_speed_icon.svg) no-repeat 0 4px / 20px auto; font-size: 14px;}

.point_wrap{color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);  font-size: 14px;}

.point_wrap #point_score,
.point_wrap #inven_point_score,
.point_wrap #shop_point_score{padding: 8px 0 8px 24px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 20px auto; line-height: 2;}




/* container */
.game_container{position: relative; width: 100%; height: 632px}


/* 아이템 소모량 */
.now_item{width: 90px; height: 90px; background-color: rgba(0, 0, 0, .5); border: 1px solid #fff; border-radius: 8px; position: absolute; bottom: 30px; left: 20px; cursor: pointer;}
.remaining_amount{color: #fff; text-align: center; padding: 12px 8px 6px;}
.remaining_amount .pick{width: 66%; display: block; margin: 0 auto 8px;}


/* 돌 이미지 위치 */
.stone_item{width: 260px; height: auto; position: absolute;}

.stone_item img{cursor: pointer; /* cursor: url(../images/item2.png) 18 18 ,auto;  */}
/* .stone_item img.cur3{cursor: url(../images/item3.png) 18 18 ,auto; -webkit-user-drag: none;} */


.stone_item.item1{top: 190px; left: 150px;}
.stone_item.item2{top: 294px; left: 390px;}

/* 돌 클릭시 숫자 애니메이션 */
.ani_num{color: #fff; position: absolute; top: -70px; left: 40px; background: url(../images/ui/ani_gem.png) no-repeat 0 center / 10px auto; padding: 0 0 0 14px; animation: numAni .5s ease-out; -webkit-animation: numAni .5s ease-out; opacity: 1; text-shadow: 2px 2px 2px #000;}

@keyframes numAni {
    0%{top: 0px;}
    100%{top: -30px; opacity: 0;}
}

.boost_200{width: 240px; position: absolute; top: 20px; left: 80px; display: none;}
.boost_icon{display: block; width: 50px; height: 50px; background: url(../images/ui/booster_icon.png) no-repeat 0 0 / 50px auto; position: absolute; top: 50%; left: -56px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.gauge_wrap{width: 240px; height: 40px; border: 1px solid #fff; border-radius: 8px; background: rgba(0, 0, 0, .5); position: relative; display: block;}

.gauge_wrap .gauge{width: 0; height: 32px; background: linear-gradient(#F4C921 30%, #F16E24); border-radius: 6px; margin: 3px 0 0 3px; animation: gauge_down 60s linear; -webkit-animation: gauge_down 60s linear;}

.gauge_wrap .percent{color: #fff; font-size: 16px; text-shadow: 2px 2px 3px #000; position: absolute; top: 50%; left: 20px; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index: 10;}

.gauge_wrap .boost_timer{color: #fff; font-size: 16px; text-shadow: 2px 2px 3px #000; position: absolute; top: 50%; left: 130px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}


@keyframes gauge_down{
    100%{width: 0;}
    0%{width: 230px;}
}

/* 메뉴 버튼 */
.menu_list{}
.menu_list li{width: 50px; height: 50px; position: absolute; left: 20px; border-radius: 50%;}

.menu_list li:nth-of-type(1){top: 150px;}
.menu_list li:nth-of-type(2){top: 210px;}
.menu_list li:nth-of-type(3){top: 270px;}
.menu_list li:nth-of-type(4){top: 330px;}
.menu_list li:nth-of-type(5){top: 390px;}

.menu_list li button{width: 50px; height: 50px; background-size: contain; background-position: center center; background-repeat: no-repeat; cursor: pointer;}
.menu_list li .ch_change_btn{background-image: url(../images/ui/change_channel_icon.svg);}
.menu_list li .inventory_btn{background-image: url(../images/ui/inventory_icon.svg);}
.menu_list li .shop_btn{background-image: url(../images/ui/shop_icon.svg);}
.menu_list li .rank_btn{background-image: url(../images/ui/ranking_icon.svg);}
.menu_list li .audio_btn{background-image: url(../images/ui/sound_off_icon.svg);}
.menu_list li .audio_btn.off{background-image: url(../images/ui/sound_on_icon.svg);}


/* 랭킹 wrap */
.cont_ranking{width: 214px; border: 2px solid #fff; border-radius: 10px; background: rgba(0, 0, 0, .7); position: absolute; top: 14px; right: 14px;}
.ranking_inner{padding: 8px 10px;}

.ranking_inner ul{}
.ranking_inner ul li{display: flex; justify-content: space-between; width: 100%; height: 30px; align-items: center; padding: 2px 0; box-sizing: content-box;}

.ranking_inner ul li .ch_img{width: 26px; height: 26px; border-radius: 50%; overflow: hidden;}

.ranking_inner ul li .ch_item{width: 26px; height: 26px;}

.ranking_inner ul li .percent_wrap{width: 76px; height: 26px; display: flex; flex-direction: column; justify-content: space-between;}
.ranking_inner ul li .percent_wrap p{padding-left: 14px; background-repeat: no-repeat; background-size: contain; background-position: 0 center; display: flex; align-items: center;}

.ranking_inner ul li .percent_wrap .gem_gauge{background-image: url(../images/ui/gem_icon.png); width: 60px; height: 12px;}
.ranking_inner ul li .percent_wrap .click_gauge{background-image: url(../images/ui/click_speed_icon.svg); width: 60px; height: 12px;}

.ranking_inner ul li .percent_wrap .gem_gauge span{display: block; background: linear-gradient(0deg, #1897ea, #56ffff); width: 100%; height: 10px; border-radius: 2px;}
.ranking_inner ul li .percent_wrap .click_gauge span{display: block; background: linear-gradient(0deg, #d55600, #f79c00); height: 10px; border-radius: 2px;}

.ranking_inner ul li .user_score{width: 48px; height: 26px; color: #fff; font-size: 6px; display: flex; flex-direction: column; justify-content: space-between;}
.ranking_inner ul li .user_score .gem_user_score{}
.ranking_inner ul li .user_score .click_score{}

/* 랭킹 개별 값 */
.ranking_inner ul li:nth-of-type(1) .ch_img{background: #ffff00;}
.ranking_inner ul li:nth-of-type(2) .ch_img{background: #97b3ff;}
.ranking_inner ul li:nth-of-type(3) .ch_img{background: #8cdb25;}
.ranking_inner ul li:nth-of-type(4) .ch_img{background: #c20000;}
.ranking_inner ul li:nth-of-type(5) .ch_img{background: #0040b0;}
.ranking_inner ul li:nth-of-type(6) .ch_img{background: #f7931e;}
.ranking_inner ul li:nth-of-type(7) .ch_img{background: #a32eff;}
.ranking_inner ul li:nth-of-type(8) .ch_img{background: #b3b3b3;}

.ranking_inner ul li:nth-of-type(1) .gem_gauge span{width: 100%;}
.ranking_inner ul li:nth-of-type(2) .gem_gauge span{width: 80%;}
.ranking_inner ul li:nth-of-type(3) .gem_gauge span{width: 70%;}
.ranking_inner ul li:nth-of-type(4) .gem_gauge span{width: 60%;}
.ranking_inner ul li:nth-of-type(5) .gem_gauge span{width: 50%;}
.ranking_inner ul li:nth-of-type(6) .gem_gauge span{width: 40%;}
.ranking_inner ul li:nth-of-type(7) .gem_gauge span{width: 20%;}
.ranking_inner ul li:nth-of-type(8) .gem_gauge span{width: 10%;}

.ranking_inner ul li:nth-of-type(1) .click_gauge span{width: 45%;}
.ranking_inner ul li:nth-of-type(2) .click_gauge span{width: 65%;}
.ranking_inner ul li:nth-of-type(3) .click_gauge span{width: 25%;}
.ranking_inner ul li:nth-of-type(4) .click_gauge span{width: 68%;}
.ranking_inner ul li:nth-of-type(5) .click_gauge span{width: 85%;}
.ranking_inner ul li:nth-of-type(6) .click_gauge span{width: 22%;}
.ranking_inner ul li:nth-of-type(7) .click_gauge span{width: 70%;}
.ranking_inner ul li:nth-of-type(8) .click_gauge span{width: 33%;}

/* === 캐릭터 === */
.ch_wrap{}
.ch{width: 172px; position: absolute; top: 250px; left: 310px; pointer-events: none;}
.ch img{position: absolute; top: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); visibility: hidden; width: auto; height: 150px; user-select: none;}
.ch img.on{visibility: visible;}









/* =========== 컨테이너 끝 ============ */

/* ================ 팝업 ================ */
/* 인벤토리 팝업 */
.inven_popup{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(../images/background/inventory_back.jpg) no-repeat 0 0 / cover; visibility: hidden; z-index: 301;}

.inven_header{width: 100%; height: 68px; background: #222; position: relative;}

.inven_header .back_btn{position: absolute; top: 50%; left: 20px; transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #fff; font-size: 16px; background: url(../images/ui/back_icon2.png) no-repeat 0 center / 20px auto;cursor: pointer; padding: 12px 0 12px 28px;}

.inven_header .inven_name{font-size: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); color: #fff; }
.inven_header .point_wrap{position: absolute; top: 50%; right: 30px; left: auto; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

/* inner */
.inven_container{width: 100%; padding: 30px 30px 40px; display: flex; justify-content: space-between; flex-wrap: wrap;}
/* 업그레이드 wrap */
.upgrade_wrap{width: 200px; border-radius: 20px; background: #222; box-shadow: 4px 4px 10px #000; padding: 0 0 36px; height: 564px;}

.upgrade_wrap .equip{color: #fff; padding-top: 16px; font-size: 16px; margin-left: 36px; margin-bottom: 26px;}
.upgrade_wrap .equip span{position: relative;}
.upgrade_wrap .equip i{background: rgb(37, 223, 207); font-family: initial; position: absolute; top: 50%; left: -16px; width: 8px; height: 8px; border-radius: 50%; transform: translateY(-50%);}

.upgrade_wrap .preview_item{width: 140px; height: 140px; margin: 0 auto 20px; cursor: pointer; border: 1px dashed #ccc; border-radius: 22px;}

.upgrade_wrap .item_level{font-size: 16px; text-align: center; color: #fff; margin-bottom: 8px;}

.upgrade_wrap .item_rank span{color: #ccc; text-align: center; font-size: 14px; display: block;}

.upgrade_wrap .item_rank{margin-bottom: 20px;}
.upgrade_wrap .item_rank .item_common,
.upgrade_wrap .item_rank .item_rare,
.upgrade_wrap .item_rank .item_legend{display: block;}

.upgrade_wrap .item_rank .item_rare,
.upgrade_wrap .item_rank .item_legend{display: none;}

.upgrade_wrap .durability{text-align: center; color: #fff; margin-bottom: 6px;}
.upgrade_wrap .price{text-align: center; color: #fff; margin-bottom: 30px;}

.upgrade_wrap .btn_wrap{}

.upgrade_wrap .btn_wrap button{display: block; width: 140px; background: url(../images/ui/btn_img1.png) no-repeat 0 0 / contain; margin: 0 auto; margin-bottom: 10px; cursor: pointer; padding: 10px 0; font-size: 14px;}

.upgrade_wrap .btn_wrap .equip_btn{display: none;}
.upgrade_wrap .btn_wrap .equip_btn.on{display: block;}

.upgrade_wrap .btn_wrap .useitem_btn{display: none;}
.upgrade_wrap .btn_wrap .useitem_btn.on{display: block;}
.upgrade_wrap .btn_wrap .mint_item{background-image: url(../images/ui/btn_img7.png);}

.upgrade_wrap .btn_wrap .mint_item.mint_btn_on{background-image: url(../images/ui/btn_img6.png);}

/* 아이템 리스트 */
.flex_right{display: flex; flex-direction: column; justify-content: space-between;}
.item_list_wrap{width: 420px; border-radius: 20px; background: #aaa; box-shadow: 4px 4px 10px #000; position: relative; padding: 50px 10px 10px;}

.item_tab_btn{position: absolute; top: 4px; left: 14px;}
.item_tab_btn ul{display: flex; width: 210px; justify-content: space-between;}
.item_tab_btn ul li{padding: 14px 10px; font-size: 15px; cursor: pointer; text-align: center;}

.item_list_wrap .item_list{width: 400px; height: 356px; border-radius: 14px; overflow: hidden; isolation: isolate;}
.item_list_wrap .item_list ul{width: 420px; height: 356px; padding: 10px 20px 10px 16px; background: #333; overflow-y: auto;}
.item_list_wrap .item_list ul::after{content: ""; display: block; clear: both;}
.item_list_wrap .item_list ul li{width: 90px; height: 90px; cursor: pointer; padding: 8px; float: left; position: relative;}

.item_list_wrap .item_list ul li span{display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-sizing: border-box;}

.item_list_wrap .item_list ul li:nth-of-type(4n){border-right: none;}
.item_list_wrap .item_list ul li:nth-of-type(){border-bottom: none;}

.equip_img{display: block; width: 100%; height: 100%; background: url(../images/ui/equip_frame.png) no-repeat 0 0/ contain; position: absolute; top: 0; left: 0;}

.target_img{display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; border: 3px solid #ff0; border-radius: 10px; box-sizing: border-box;}

.target_img.on{display: block;}


/* 아이템 리스트 하단 샵넘어가는 버튼 wrap */
.next_minting{width: 420px; height: 130px; border-radius: 20px; background: rgb(9, 15, 65); box-shadow: 4px 4px 10px #000; padding: 20px;}

.next_inner{position: relative;}
.next_inner span{display: block; color: #fff; font-size: 30px; line-height: 1.3; padding: 8px 0 8px 114px; background: url(../images/ui/premium_box.png) no-repeat 0 center / 100px auto;}

.next_inner button{width: 40px; height: 43px; background: url(../images/ui/btn_img5.png) no-repeat 0 0 /contain; position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

/* 업그레이드 완료시 */
.upgrade_complete{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .7); display: none;}

.complete_inner{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}

.complete_inner .complete_title{font-size: 26px; color: #fff; margin-bottom: 40px; text-align: center;}

.complete_inner .complete_item{width: 100px; margin: 0 auto; margin-bottom: 20px;}

.complete_inner .item_name{font-size: 24px; color: #fff; text-align: center; margin-bottom: 40px;}
.complete_inner .item_name .item_rank{font-size: 20px; color: #ccc; display: block; margin-top: 10px;}

.complete_inner .item_level{text-align: center; font-size: 24px; color: #fff;}

/* repair, shop use 영역 */
.repair_popup, .shop_use_popup{width: 100%; height: 100%; background: rgba(0, 0, 0, .7); position: absolute; top: 0; left: 0; visibility: hidden; z-index: 310;}
.repair_wrap, .shop_use_wrap{width: 400px; border-radius: 20px; border: 1px solid #fff; background: #222; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); padding: 20px;}

.repair_inner{}
.repair_inner .repair_ques, .use_inner .use_ques{color: #fff; line-height: 1.5; text-align: center; font-size: 16px; margin-bottom: 30px;}

.repair_inner .price_wrap{color: #fff; text-align: center; font-size: 24px; font-family: "sebang-bold"; margin-bottom: 30px;}

.repair_inner .price_wrap .price{padding: 10px 0 10px 46px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 40px auto;}

.repair_inner .button_wrap,
.use_inner .button_wrap{display: flex; justify-content: space-around;}

.repair_inner .button_wrap button, .use_inner .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; display: block; padding: 13px 0; font-size: 16px;}

.repair_inner .button_wrap .confirm,
.use_inner .button_wrap .confirm{background-image: url(../images/ui/btn_img3.png);}
.repair_inner .button_wrap .cancel,
.use_inner .button_wrap .cancel{background-image: url(../images/ui/btn_img1.png);}


/* 샵 팝업 */
.shop_popup{width: 100%; height: 100%; background: url(../images/background/shop_back.jpg) no-repeat 0 0 / cover; position: absolute; top: 0; left: 0; z-index: 301; padding: 0 10px; visibility: hidden;}

.shop_header{width: 100%; height: 68px; border-bottom: 2px solid #333; position: relative;}

.shop_header .back_btn{position: relative; top: 50%; left: 10px; transform: translateY(-50%); -webkit-transform: translateY(-50%); font-size: 16px; background: url(../images/ui/back_icon.png) no-repeat 0 center / 20px auto; cursor: pointer; padding: 12px 0 12px 28px; font-family: "sebang-bold";}

.shop_header .point_wrap{color: #222; font-family: "sebang-bold"; position: absolute; top: 50%; right: 30px; left: auto; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.shop_header .shop_name{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); font-size: 30px; font-family: "sebang-bold";}


.shop_container{padding: 40px 20px;}
.shop_container .shop_menu_btn{margin-bottom: 30px;}
.shop_container .shop_menu_btn ul{display: flex; justify-content: space-between;}
.shop_container .shop_menu_btn ul li{width: 202px;}
.shop_container .shop_menu_btn ul li button{width: 100%; background-repeat: no-repeat; background-position: 0 0; background-size: contain; background-image: url(../images/ui/btn_img7.png); padding: 18px 0; font-size: 16px; filter: drop-shadow(3px 3px 6px #000); font-family: "sebang-bold";}

.shop_container .shop_menu_btn ul li.on button{background-image: url(../images/ui/btn_img1.png);}

/* content_wrap */
.content_wrap{position: relative; width: 640px;}


/* package_content */
.content_wrap .package_content{width: 640px; visibility: hidden;}

.package_content ul{display: flex; justify-content: space-between;}

.package_content ul li{width: 306px; height:450px; text-align: center; color: #fff; background-size: 274px auto; box-shadow: 3px 3px 14px #222; background-repeat: no-repeat; background-position: center center; background-color: #222; border-radius: 32px;}

.package_content ul li > div{ padding: 50px 10px 0; font-size: 13px; line-height: 1.4; margin-bottom: 30px; }

.package_content ul li > div img{width: 140px; display: block; margin: 0 auto 34px;}

.package_content ul li:nth-of-type(1){background-image:  url(../images/ui/shop_vip_frame1.png); cursor: pointer;}
.package_content ul li:nth-of-type(2){background-image: url(../images/ui/shop_vip_frame2.png); cursor: pointer;}

.package_content ul li p{width: 180px; background: #222; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 4px 4px 18px #222;}

.package_content ul li .price{font-size: 24px; padding: 10px 0 10px 46px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 40px auto;}

/* item_content */
.item_content{position: absolute; top: 0; left: 0; width: 640px; visibility: hidden;}

/* item_content 공통값 */
.booster_list, .auto_list{width: 100%; background: #1a1a1a; display: flex; padding: 20px; justify-content: space-between; border-radius: 24px; box-shadow: 4px 4px 10px #000; margin-bottom: 20px;}

.booster_list .list_title, .auto_list .list_title{font-size: 26px; color: #fff; width: 180px; text-align: center; padding-top: 130px; background-repeat: no-repeat; background-position: center 14px; background-size: 100px auto;}

.booster_list ul, .auto_list ul{display: flex; width: 404px; justify-content: space-between;}
.booster_list ul li, .auto_list ul li{width: 192px; border-radius: 20px; overflow: hidden; text-align: center; color: #fff; box-shadow: 4px 4px 10px #000; cursor: pointer;}

.booster_list ul li .item, .auto_list ul li .item{background-color: #3b3b3b; padding: 10px 0 17px;}
.booster_list ul li .item img, .auto_list ul li .item img{width: 100px; margin: 0 auto; display: block;}

.booster_list ul li .price_wrap, .auto_list ul li .price_wrap{background-color: #1f1f1f; padding: 12px 0;}

.booster_list ul li .price_wrap .price, .auto_list ul li .price_wrap .price{font-size: 16px; padding: 4px 0 4px 24px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 20px auto;}

/* booster list 개별 값 */
.booster_list .list_title{background-image: url(../images/ui/booster_icon.png);}

/* auto list 개별 값 */
.auto_list .list_title{background-image: url(../images/ui/auto_click_icon.png); background-size: 84px auto;}

/* auto list 개별값 */
.auto_list{margin-bottom: 0;}


/*  tool content  */
.tool_content{position: absolute; top: 0; left: 0; width: 640px; visibility: hidden;}
.tool_content ul{display: flex; justify-content: space-between; margin-bottom: 30px;}

.tool_content ul li{width: 300px; text-align: center;}

.tool_content .box_wrap{background: #1a1a1a; border-radius: 30px; padding: 16px 0 24px 0; margin-bottom: 24px; cursor: pointer; box-shadow: 4px 4px 18px #000;}
.tool_content .box_wrap img{display: flex; width: 140px; margin: 0 auto 14px;}
.tool_content .box_wrap .box_title{font-size: 22px; color: #fff; margin-bottom: 10px;}

.tool_content .box_wrap .box_info{font-size: 16px; color: #858585;}

.tool_content .price_wrap{width: 160px; text-align: center; margin: 0 auto; padding: 18px; border-radius: 10px; margin-top: 20px;}
.tool_content .price{color: #fff; font-size: 16px; padding: 10px 0 10px 26px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 22px auto;}


/* opensea go */
.go_opensea{width: 100%; background: #1a1a1a; border-radius: 20px; position: relative; box-shadow: 4px 4px 18px #000;}

.go_opensea .speack_icon{display: block; width: 100px; height: 150px; background: url(../images/ui/notice_icon.png) no-repeat 0 0 / 100px auto; position: absolute; top: -18px; left: 16px;}

.go_opensea .text{padding: 28px 0 24px 140px; font-size: 14px; color: #fff; line-height: 1.5;}

.go_opensea .opensea_btn{width: 140px; height: 80px; text-align: center; line-height: 1.4; font-size: 16px; background: url(../images/ui/btn_img4.png) no-repeat 0 0 /contain; position: absolute; top: 50%; right: 7px; transform: translateY(-50%); font-family: "sebang-bold";}


/* 랭킹 팝업 */
.ranking_popup{width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: none;}

.ranking_popup .ranking_wrap{width: 360px; height: 480px; background: #363d48; border-radius: 20px; box-shadow: 4px 4px 18px #000; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); padding: 22px 18px 20px;}

.ranking_popup .ranking_pop_close{position: absolute; top: 12px; right: 12px; width: 40px; height: 40px; background: #1a1a1a; border-radius: 50%; position: absolute;}
.ranking_popup .ranking_pop_close::after,
.ranking_popup .ranking_pop_close::before{content: ""; display: block; width: 24px; height: 2px; background: #fff; position: absolute; top: 50%; left: 50%;}
.ranking_popup .ranking_pop_close::after{transform: translate(-50%, -50%) rotate(-45deg); -webkit-transform: translate(-50%, -50%) rotate(-45deg);}
.ranking_popup .ranking_pop_close::before{transform: translate(-50%, -50%) rotate(45deg); -webkit-transform: translate(-50%, -50%) rotate(45deg);}

.ranking_pop_inner{}

.ranking_pop_inner .rank_pop_title{text-align: center; padding: 0 0 22px 0;}

.ranking_pop_inner .rank_pop_title span{color: #fff; font-size: 18px; background: url(../images/ui/trophy_icon.png) no-repeat 0 center / 38px auto; padding: 10px 0 10px 46px;}

.ranking_pop_inner .rank_tab_btn{width: 100%; display: flex; justify-content: space-between; margin-bottom: 10px;}
.ranking_pop_inner .rank_tab_btn li{}
.ranking_pop_inner .rank_tab_btn li button{width: 158px; background: #1a1a1a; padding: 12px 0; border-radius: 10px; color: #888; text-align: center; display: block;}

.ranking_pop_inner .rank_tab_btn li.on button{color: #fff;}

.list_wrap{position: relative;}

/* ranking_pop_list */
.ranking_pop_list{width: 100%; background: #1a1a1a; border-radius: 20px; padding: 14px 12px; display: none;}

.ranking_pop_list.on{display: block;}

/* playtime popup */
.playtime_pop_list{width: 100%; background: #1a1a1a; border-radius: 20px; padding: 14px 12px; position: absolute; top: 0; left: 0; display: none;}

.playtime_pop_list.on{display: block;}

/* ranking tab, playtime tab common */
.ranking_pop_list .list_name,
.playtime_pop_list .list_name{width: 100%; display: flex; justify-content: space-between; border-bottom: 2px solid #fff;}

.ranking_pop_list .list_name p,
.playtime_pop_list .list_name p{width: 50%; padding: 0 0 14px 0; color: #fff; text-align: center;}

.ranking_pop_list .rank_list ul,
.playtime_pop_list .time_list ul{border-bottom: 2px solid #fff;}

.ranking_pop_list .rank_list ul li,
.playtime_pop_list .time_list ul li{display: flex; justify-content: flex-start; color: #fff; border-bottom: 1px solid #aaa;}

.ranking_pop_list .rank_list ul li:last-child,
.playtime_pop_list .time_list ul li:last-child{border-bottom: none;}

.ranking_pop_list .rank_num,
.playtime_pop_list .rank_num{display: block; width: 50px; text-align: center; padding: 12px 0;}

.ranking_pop_list .rank_list ul li:nth-of-type(1) .rank_num,
.playtime_pop_list .time_list ul li:nth-of-type(1) .rank_num{text-indent: -9999px; background: url(../images/ui/rank1.svg) no-repeat center center / 30px auto;}

.ranking_pop_list .rank_list ul li:nth-of-type(2) .rank_num,
.playtime_pop_list .time_list ul li:nth-of-type(2) .rank_num{text-indent: -9999px; background: url(../images/ui/rank2.svg) no-repeat center center / 30px auto;}

.ranking_pop_list .rank_list ul li:nth-of-type(3) .rank_num,
.playtime_pop_list .time_list ul li:nth-of-type(3) .rank_num{text-indent: -9999px; background: url(../images/ui/rank3.svg) no-repeat center center / 30px auto;}

.ranking_pop_list .user_id{width: 120px; padding: 12px 0;}
.playtime_pop_list .user_id{width: 136px; padding: 12px 0;}

.ranking_pop_list .user_score{width: 110px; padding: 12px 0 12px 20px; background: url(../images/ui/ani_gem2.png) no-repeat 0 center / 12px auto;}

.playtime_pop_list .time_score{width: 80px; padding: 12px 0 12px 20px; background: url(../images/ui/rank_playtime_icon.png) no-repeat 0 center / 14px auto;}

/* myrank */
.ranking_pop_list .my_rank,
.playtime_pop_list .my_rank{color: #fff; display: flex; justify-content: start;}

.ranking_pop_list .my_rank .point_wrap,
.playtime_pop_list .my_rank .point_wrap{position: static; top: 0; right: 0; transform: none;}

.point_wrap #rank_score{display: block; width: 110px; padding: 12px 0 12px 20px; background: url(../images/ui/ani_gem2.png) no-repeat 0 center / 12px auto;}

.point_wrap #time_score{display: block; width: 87px; padding: 12px 0 12px 20px; background: url(../images/ui/rank_playtime_icon.png) no-repeat 0 center / 14px auto;}







/* another room popup */
.another_room_popup{visibility: hidden; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.another_wrap{width: 420px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 2px solid #aaaaaa; border-radius: 20px; background: #1a1a1a; padding: 24px 26px;}

.another_ques{font-size: 18px; color: #fff; text-align: center; line-height: 1.5; margin-bottom: 40px;}

.another_inner .button_wrap{display: flex; justify-content: space-between;}
.another_inner .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; display: block; padding: 13px 0; font-size: 16px;}

.another_inner .button_wrap .confirm{background-image: url(../images/ui/btn_img3.png);}
.another_inner .button_wrap .cancel{background-image: url(../images/ui/btn_img1.png);}

/* immediately_repair_popup*/
.immediately_repair_popup{visibility: hidden; width: 100%; height: 100%; background: transparent; position: absolute; top: 0; left: 0;}
.immediately_wrap{width: 420px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 2px solid #aaaaaa; border-radius: 20px; background: #1a1a1a; padding: 24px 26px;}

.immediately_ques{font-size: 18px; color: #fff; text-align: center; line-height: 1.5; margin-bottom: 30px;}

.immediately_ques span{display: block;}
.immediately_ques span:nth-of-type(1){margin-bottom: 12px;}
.immediately_ques span:nth-of-type(2){font-size: 14px; color: #ccc;}

.immediately_inner .button_wrap{display: flex; justify-content: space-between;}
.immediately_inner .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; display: block; padding: 13px 0; font-size: 16px;}

.immediately_inner .button_wrap .repair_now{background-image: url(../images/ui/btn_img2.png);}
.immediately_inner .button_wrap .cancel{background-image: url(../images/ui/btn_img1.png);}


/* package_buy popup */
.silver_buy_popup,
.gold_buy_popup,
.fail_popup,
.complete_buy_popup,
.shop_item_buy_popup,
.shop_complete_popup,
.premiumitem_popup,
.vipitem_popup{visibility: hidden; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 320;}

.fail_popup{z-index: 321;}

.package_buy_wrap{width: 420px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 2px solid #aaaaaa; border-radius: 20px; background: #1a1a1a; padding: 24px 26px;}

.package_buy_ques{font-size: 18px; color: #fff; text-align: center; line-height: 1.5; margin-bottom: 30px;}

.package_buy_inner .button_wrap{display: flex; justify-content: space-between;}
.package_buy_inner .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; display: block; padding: 13px 0; font-size: 16px;}

.package_buy_inner .button_wrap .buy_btn{background-image: url(../images/ui/btn_img3.png);}
.package_buy_inner .button_wrap .cancel{background-image: url(../images/ui/btn_img1.png);}

/* fail popup, comp popup */
.fail_wrap, 
.comp_wrap,
.premiumitem_wrap,
.vipitem_wrap{width: 420px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 2px solid #aaaaaa; border-radius: 20px; background: #1a1a1a; padding: 24px 26px;}

.fail_wrap .fail_ques,
.comp_wrap .comp_ques,
.boxitem_ques{font-size: 24px; color: #fff; text-align: center; line-height: 1.5; margin-bottom: 30px;}

.fail_wrap .button_wrap, 
.comp_wrap .button_wrap,
.premiumitem_wrap .button_wrap,
.vipitem_wrap .button_wrap{display: flex; justify-content: center;}

.fail_wrap .button_wrap button,
.comp_wrap .button_wrap button,
.premiumitem_wrap .button_wrap button,
.vipitem_wrap .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; background-image: url(../images/ui/btn_img1.png); display: block; padding: 13px 0; font-size: 16px;}

.comp_ques span{display: block;}
.comp_ques span:nth-of-type(2){font-size: 14px; margin-top: 8px;}

/* shop_item_buy_popup */
.shop_item_wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 2px solid #aaaaaa; border-radius: 16px; background: #1a1a1a; padding: 30px 16px 20px;}
.shop_item_wrap .pop_title{text-align: center; color: #fff; margin-bottom: 12px;}
.shop_item_wrap .pop_title span{display: none; font-size: 18px;}
.shop_item_wrap .pop_title span.on{display: block;}

.shop_item_wrap .img_wrap{text-align: center; width: 90px; margin: 0 auto 10px;}
.shop_item_wrap .img_wrap img{display: none;}
.shop_item_wrap .img_wrap img.on{display: block;}
.shop_item_wrap .ques{color: #fff; text-align: center; font-size: 14px; margin-bottom: 24px;}

.shop_item_wrap .quantity_wrap{display: flex; width: 100px; margin: 0 auto 30px; justify-content: space-between; color: #fff; font-size: 20px;}

.shop_item_wrap .quantity_wrap button{width: 20px; height: 20px; background-repeat: no-repeat; background-size: 20px 20px; background-position: center center; background-image: url(../images/ui/page_btn.svg);}
.shop_item_wrap .quantity_wrap .left_btn{}
.shop_item_wrap .quantity_wrap .right_btn{transform: rotate(180deg); -webkit-transform: rotate(180deg);}

.shop_item_wrap .price_wrap{color: #fff; margin-bottom: 30px; font-size: 18px; text-align: center;}
.shop_item_wrap .price_wrap .price{padding: 10px 0 10px 26px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 22px auto;}

.shop_item_wrap .button_wrap{width: 350px; margin: 0 auto; display: flex; justify-content: space-between;}
.shop_item_wrap .button_wrap button{width: 170px; text-align: center; background-repeat: no-repeat; background-size: contain; background-position: 0 0; display: block; padding: 13px 0; font-size: 16px;}

.shop_item_wrap .button_wrap .buy_btn{background-image: url(../images/ui/btn_img3.png);}
.shop_item_wrap .button_wrap .cancel{background-image: url(../images/ui/btn_img1.png);}



.shop_complete_popup .comp_wrap .button_wrap{justify-content: space-between;}
.shop_complete_popup .comp_wrap .use_now{background-image: url(../images/ui/btn_img3.png);}



/* .shop_boxitem_popup{visibility: visible;} */
.premiumitem_popup .boxitem_ques,
.vipitem_popup .boxitem_ques{margin-bottom: 10px;}

.premiumitem_popup .img_wrap,
.vipitem_popup .img_wrap{width: 140px; margin: 0 auto;}

.premiumitem_popup .price_wrap,
.vipitem_popup .price_wrap{text-align: center; margin-bottom: 10px;}

.premiumitem_popup .price_wrap span,
.vipitem_popup .price_wrap span{color: #fff; font-size: 16px; padding: 8px 0 8px 24px; background: url(../images/ui/gem_icon.svg) no-repeat 0 center / 20px auto; line-height: 2;}

.premiumitem_popup .button_wrap,
.vipitem_popup .button_wrap{justify-content: space-between;}

.premiumitem_popup .button_wrap .pre_buy_btn,
.vipitem_popup .button_wrap .vip_buy_btn{background-image: url(../images/ui/btn_img3.png);}


/* 랜덤 아이템 박스 팝업 */
.pre_open_popup, .vip_open_popup{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 320; background: rgba(0, 0, 0, .8) url(../images/ui/shop_premium_box_open.png) no-repeat center center / 160px auto; display: none;}

.vip_open_popup{background: rgba(0, 0, 0, .8) url(../images/ui/shop_vip_box_open.png) no-repeat center center / 160px auto;}

.pre_open_wrap ul, .vip_open_popup ul{width: 370px; height: 140px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 4%); -webkit-transform: translate(-50%, 20%); display: flex; flex-wrap: wrap; align-content: space-between;}
.pre_open_wrap ul li, .vip_open_popup ul li{width: 62px; opacity: 0; transition: opacity .5s ease-in; animation: shopBoxAni 1s forwards; margin-right: 15px;}

.pre_open_wrap ul li:nth-of-type(5n), .vip_open_popup ul li:nth-of-type(5n){
    margin-right: 0;
}

.pre_open_wrap .open_text, .vip_open_popup .open_text{width: 500px; text-align: center; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); color: #fff; font-size: 16px; opacity: 0;}


@keyframes shopBoxAni {
    0%{}
    100%{opacity: 1;}
}



@media screen and (max-width: 640px) {
    .package_content ul li > div{font-size: 2.1875vw !important; }
}